extends layout

block content
  h1= title
  p Welcome to #{title}'s API
  ul 
    li #[a(href='/analyze') /analyze] : to analyze a string with Standford core nlp
    li #[a(href='/test') /test] : to enter a text to analyze. Default text is already written
        
